<form class="pure-form">
  <input id="firstName" #firstName [value]="person.firstName" (keyup)="newFirstName = firstName.value" placeholder="First Name"/>
  <br/>
  <input id="lastName" #lastName [value]="person.lastName" (keyup)="newLastName = lastName.value" placeholder="Last Name"/>
  <br/>
  <button class="pure-button" routerLink="/persons">Cancel</button>
  &nbsp;&nbsp;
  <button class="pure-button pure-button-primary"
          [disabled]="!validate()"
          (click)="updatePerson()">
    Save
  </button>
</form>
