<div class="spaced">
  <hr/>
  <app-person-add></app-person-add>
  <hr/>
  <ul>
    <li *ngFor="let person of persons">
      <app-person-list-item [person]=person ></app-person-list-item>
    </li>
  </ul>
</div>
