<form class="pure-form">
  <input required #firstName (keyup)="newFirstName = firstName.value" placeholder="First name"/>
  <br/>
  <input required #lastName (keyup)="newLastName = lastName.value" placeholder="Last name"/>
  <br/>
  <button class="pure-button pure-button-primary"
    [disabled]="!validate()"
    (click)="addPerson(); firstName.value = ''; lastName.value = ''">Add Person</button>
</form>
